{% block footer_outer %}
  <mj-wrapper css-class="footer">
    <mj-section>
      <mj-column>
        {% block footer %}
          <mj-text
            font-size="11px"
            line-height="1.7"
            css-class="footer-message"
          >
          
            {% block text %}
            <div class="footer-message__social">
            <p>
            Follow us on social<br>
            Share photos using our hashtag #FeelTheLove to<br>
            show us how Laverée has become a part of your home.
            </p>
            </div>
              <div class="footer-message__icon">
                <a
                  href="https://www.instagram.com/laveree_official/?hl=en"
                  target="_blank"
                  >
                  <img src="https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/black/instagram_96.png" alt="Instagram" width="24" height="24">
                </a>
              </div> 
              <div class="footer-message__message">
               <p>{{ text | default('If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>')}}</p>
              </div>           
            {% endblock %}
          </mj-text>
        {% endblock %}
      </mj-column>
    </mj-section>
  </mj-wrapper>
{% endblock %}