{% block header_outer %}
  <mj-section css-class="header-wrap">
    <mj-column>
      {% block header %}

        <mj-text font-size="0"  css-class="header">
          <a
            href="{% verbatim %}{{ shop.url }}{% endverbatim %}"
            class="logo"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0548/9528/0195/files/laveree-email-logo.png?v=1650656283"
              alt="{% verbatim %}{{ shop.name }}{% endverbatim %}"
            >
          </a>
        </mj-text>

      {% endblock %}
    </mj-column>
  </mj-section>
{% endblock %}